.ShortUrl form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ShortUrl form h1 {
  font-weight: normal;
  font-size: 42px;
}

.ShortUrl form input {
  padding: 6px 8px;
  font-size: 18px;
  margin-bottom: 20px;
  width: 80%;
}

.ShortUrl form button {
  padding: 5px 12px;
  width: 100px;
  margin-bottom: 30px;
}